@charset "utf-8";

#point_list_table > thead {
  background: #5eb954;
}

.grp_sakura {
  background: #ffdbed;
}

.grp_hinata {
  background: #7cc7e8;
}

.pt_row {
  text-align: right;
}

.grp {
  text-align: center;
}

.name {
  width: 6rem;
}

.member_name {
  text-align: left;
}

.ssr,
.ssr_plus {
  text-align: right;
}

.skill368 {
  background: gold;
}

.skill_over3 {
  background: lemonchiffon;
}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 1025px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 20px;
  }

  p[name="scene_list"] {
    margin-right: 15px;
  }

  table[name="scene_table"] {
    font-size: 15px;
  }

  #target {
    /* display: block; */
    display: flex;
    width: 600px;
  }

  #sakura_list {
    margin-right: 20px;
    display: flex;
  }

  #hinata_list {
    display: flex;
  }

  #annotation {
    font-size: 15px;
  }

  #ss {
    font-size: 16px;
  }

  .head_member {
    width: 95px;
  }

  .head_ssr,
  .head_ssr_plus {
    width: 50px;
  }

  #contact {
    font-size: 14px;
  }
}

/*ウィンドウ幅が最大767pxまでの場合に適用 タブレット*/
@media screen and (max-width: 1024px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 20px;
  }

  p[name="scene_list"] {
    margin-right: 15px;
  }

  table[name="scene_table"] {
    font-size: 15px;
  }

  #target {
    /* display: block; */
    display: flex;
    width: 600px;
  }

  #sakura_list {
    margin-right: 20px;
    display: flex;
  }

  #hinata_list {
    display: flex;
  }

  #annotation {
    font-size: 15px;
  }

  #ss {
    font-size: 16px;
  }

  .head_member {
    width: 90px;
  }

  .head_ssr,
  .head_ssr_plus {
    width: 50px;
  }

  #contact {
    font-size: 14px;
  }
}

/*ウィンドウ幅が最大479pxまでの場合に適用 スマホ*/
@media screen and (max-width: 599px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 16px;
  }

  p[name="scene_list"] {
    margin-right: 5px;
  }

  table[name="scene_table"] {
    font-size: 10px;
  }

  #target {
    display: flex;
  }

  #sakura_list {
    margin-right: 2px;
    display: block;
  }

  #hinata_list {
    display: block;
  }

  #annotation {
    font-size: 12px;
  }

  #ss {
    font-size: 12px;
  }

  .head_member {
    width: 70px;
  }

  .head_ssr {
    width: 24px;
  }

  .head_ssr_plus {
    width: 29px;
  }

  #contact {
    font-size: 12px;
  }
}
