@charset "utf-8";

#point_list_table > thead {
  background: #5eb954;
}

.grp_sakura {
  background: #ffdbed;
}

.grp_hinata {
  background: #7cc7e8;
}

.pt_row {
  text-align: right;
}

.grp {
  text-align: center;
}

.name {
  width: 6rem;
}

.member_name {
  text-align: left;
}

.ssr,
.ssr_plus {
  text-align: right;
}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width: 1025px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 23px;
  }

  table[name="scene_table"] {
    font-size: 17px;
  }

  #target {
    display: flex;
  }
}

/*ウィンドウ幅が最大767pxまでの場合に適用 タブレット*/
@media screen and (max-width: 1024px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 23px;
  }

  table[name="scene_table"] {
    font-size: 17px;
  }

  #target {
    display: flex;
  }
}

/*ウィンドウ幅が最大479pxまでの場合に適用 スマホ*/
@media screen and (max-width: 599px) {
  /*ヘッダタイトル*/
  #head_title {
    font-size: 18px;
  }

  table[name="scene_table"] {
    font-size: 10px;
  }

  /* #target {
    display: block;
  } */
}
